.cityBanner{
    cursor: pointer;
    position: relative;
    border-radius: 12px;
    width: 318px;
    height: 310px;
    overflow: hidden;
}
.Background{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cityBanner span{
    z-index: 100;
    position: absolute;
    bottom: 50px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    left: 10px;
}
