main{
  padding: 20px;
    background-color: #27272a;
}
.ImgVideo img,.ImgVideo video{
     width: 100%;
  height: 100%;
  object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
}
.ImgVideo video{
   opacity: 0;
    transition: opacity 0.3s ease;
}
.svg{
position: absolute;
bottom: 20px;
right: 10px;
}
.ImgVideo:hover video{
    opacity: 1;
}
.ImgVideo:hover img{
    opacity: 0;
}
.ImgVideo:hover .mute img{
    opacity: 1;
}
.ImgVideo:hover .svg{
    opacity: 0;
}
.Container{
    transition: transform 0.5 ease;
    display: flex;
     gap:10px;
    justify-content: center;
     position: relative;
  display: flex;
  box-sizing: border-box;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  transition: transform 0.5s ease-in-out;
  will-change: transform;
}
.ImgVideo {
position: relative;
    width: 650px;
    height: 350px;
}
.mute{
    border: none;
    background: none;
bottom: 50px;
right: 40px;
position: absolute;
cursor: pointer;
}
.mute img{
opacity: 0;
width: 35px;
height: 35px;
 transition: opacity 0.3s ease;
}

.detail-button{
position: absolute;
padding:8px;
cursor: pointer;
width: 115px;
background-color: white;
border:none;
font-size: 15px;
border-radius: 4px;
bottom: 16px;
left: 18px;
}
.detail-button:hover{
    background-color: #54c273;
    transition: 0.3s;
    color:white;
}
.back-button{
    position: absolute;
    top:50%;
   transform: translateY(-60%);
    left: 0;
   background-color: rgba(152, 151, 146, 0.5);
    padding:6px 15px 8px 12px;
    cursor: pointer;
     border-radius: 0 4px 4px 0;
    border: none;
}
.arrow-left{
    font-size: 30px;
color: rgba(255, 255, 255, 0.6);
}
.back-button:hover{
    background-color:black;
    transition: 0.3s;
}
.back-button:hover .arrow-left{
    color: white;
    transition: 0.3s;
}
.next-button{
    align-items: center;
    position: absolute;
    top:50%;
   transform: translateY(-60%);
    right: 0;
   background-color: rgba(152, 151, 146, 0.5);
    padding:6px 12px 8px 15px;
    margin-left: 1px;
    cursor: pointer;
     border-radius: 4px 0px 0px 4px;
    border: none;
}
.arrow-right{
    font-size: 30px;
color: rgba(255, 255, 255, 0.6);    
}
.next-button:hover{
    background-color:black;
    transition: 0.3s;
}
.next-button:hover .arrow-right{
    color: white;
    transition: 0.3s;
}
.dots{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.dot{
    width: 8px;
    height: 8px;
    margin: 0 5px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
.dot.active {
  background-color: #54c273;
}

