
.ImgVideo img{
    width: 650px;
    height: 350px;
    border-radius: 10px;
}
.Container{
      padding: 20px;
    background-color: #27272a;
    display: flex;
     gap:10px;
    justify-content: center;
}
.ImgVideo {
position: relative;
     width: 650px;
    height: 350px;
}
.detail-button{
position: absolute;
padding:8px;
cursor: pointer;
width: 115px;
background-color: white;
border:none;
font-size: 15px;
border-radius: 4px;
bottom: 16px;
left: 18px;
}
.detail-button:hover{
    background-color: #54c273;
    transition: 0.3s;
    color:white;
}
.back-button{
    position: absolute;
    top:50%;
   transform: translateY(-60%);
    left: 0;
   background-color: rgba(152, 151, 146, 0.5);
    padding:6px 15px 6px 12px;
    cursor: pointer;
     border-radius: 0 4px 4px 0;
    border: none;
}
.arrow-left{
    font-size: 30px;
color: rgba(255, 255, 255, 0.6);
}
.back-button:hover{
    background-color:black;
    transition: 0.3s;
}
.back-button:hover .arrow-left{
    color: white;
    transition: 0.3s;
}
.next-button{
    align-items: center;
    position: absolute;
    top:50%;
   transform: translateY(-60%);
    right: 0;
   background-color: rgba(152, 151, 146, 0.5);
    padding:6px 12px 6px 15px;
    margin-left: 1px;
    cursor: pointer;
     border-radius: 4px 0px 0px 4px;
    border: none;
}
.arrow-right{
    font-size: 30px;
color: rgba(255, 255, 255, 0.6);    
}
.next-button:hover{
    background-color:black;
    transition: 0.3s;
}
.next-button:hover .arrow-right{
    color: white;
    transition: 0.3s;
}
