.Thumb{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.thumb-images {
    width: fit-content; 
    position: relative;
    justify-content: center;
    display: flex;
    gap: 15px;
    margin: 0 auto;
      transition: transform 0.5s ease;
}
.prev-button{
     align-items: center;
  justify-content: center;
    width: 40px;          /* cố định chiều rộng */
  height: 40px;
  display: flex;
   background-color: rgba(152, 151, 146, 0.5);
    border-radius: 0 4px 4px 0;
    border: none;
    position:absolute;
    left: 0;
    top: 50%;
    transform: translateY(-60%);
}
.prev-button span{
    color: #b8c4bc;
    font-size: 18px;
}
.forward-button span{
     color: #b8c4bc;
     font-size: 18px;
}
.forward-button{
    align-items: center;
  justify-content: center;
    width: 40px;          /* cố định chiều rộng */
  height: 40px;
  display: flex;
   background-color: rgba(152, 151, 146, 0.5);
    border-radius: 4px 0px 0px 4px;
    border: none;
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-60%);
}
 .prev-button:hover{
     background-color:black;
    transition: 0.3s;
}
.prev-button:hover span{
    color: white;
}
.forward-button:hover{
    background-color:black;
    transition: 0.3s;
}
.forward-button:hover span{
    color: white;
}
.topic{
    font-weight:550;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin:10px 80px;
}
.ForYou{
    
    position: relative;
    margin-top: 50px;
}
.ForYou span{
     font-family: Arial, Helvetica, sans-serif;
}
.special-topic{
    position: relative;
    margin-left: 80px;
    display: flex;
    gap: 15px;
}
.special-topic span{
    cursor: pointer;
     font-weight:550;
    color:white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.ThisWeekend {
    margin-top: 50px;
}
.greenlineW{
    position:absolute;
    top: 23px;
    left: 2px;
    width: 100px;
    height: 4px;
    border-radius: 100px;
    background-color: #54c273;
}
.greenlineM{
     position:absolute;
    top: 23px;
    left: 120px;
    width: 80px;
    height: 4px;
    border-radius: 100px;
    background-color: #54c273;
}
.Detail span{
    color:#a9b3ac;
    font-size: 14px;
    font-weight: lighter;
}
.Detail {
    top: -10px;
    position: absolute;
    right: 80px;
    display: flex;
    align-items: center;
    gap: 7px;
}
.VPBank {
   display: flex;
   justify-content: center;
margin-top: 50px;
}
.VPBank img{
   border-radius: 10px;
    width: 1310px;
    height: 165px;
}
.banner{
    margin-top: 25px;
}
