.contentbuy{
    margin-top: 200px;
    width: 99%;
    display: flex;
   padding-left: 34px;
  align-items:flex-start;
    justify-content: space-between;
}
.contentbuy span{
     color: #2DC275;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.ReturnBt{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.ReturnBt span {
    color: #2DC275;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.aside span{
    color: white;
}
.asidehead{
    padding: 10px 10px 10px 10px ;
    background-color: #27272A;
}
.asidehead span{
    width: 100px;
}

.asidebody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 10px 20px 10px;
    background-color: #38383D;
}
.asidedate{
    display: flex;
    align-items: center;
    gap: 2px;
}
.asidedate svg{
    color: white;
}
.asidedate span{
    font-size: 12px;
}
.asidelocate{
    display: flex;
    align-items: center;
    gap: 5px;
}
.asidelocate svg{
    height: 30px;
    color: #2DC275;
}
.asidelocate span{
font-size: 12px;
}
.asideprice{
    padding: 20px 10px 10px 10px ;
    background-color:#38383D ;
    border-top:1px solid rgb(81, 81, 88)
}
.tickettype{ 
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.tickettype span{
    font-size: 12px;
}
.price{
    color: #2DC275!important;
}
.Buyticket{
    padding: 20px 20px 20px 20px ;
    background-color:#27272A;
}
.Buybutton{
    font-size: 14px;
    color:#808089;
    font-weight: bold;
    background-color: #DDDDE3;
    padding: 12px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.pricetype{
    gap: 5px;
    display: flex;
    flex-direction: column;
}
.pricetype span{
    color: white;
}
.ticketform{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoticket{  
    padding: 15px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  border-bottom:   1px dashed rgb(128, 128, 137);
}
.Choseticket{ 
    margin-bottom: 20px;
}
.quantity{
    display: flex;
    gap: 2px;
}
.quantity button{
    padding: 10px 18px 10px 18px;
    border: none;
    border-radius:5px;
    background-color: white;
}
