.Account{
    background-color:#27272a;
}
.MyProfile{
    justify-self: center;
    width: 60%;
    border-bottom: 1px solid rgb(56, 56, 61);
    padding: 80px 0px 10px 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}
.MyProfileInfo{
    justify-self: center;
    display: flex;
    width: 350px;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    padding-bottom: 30px;
}
.MyProfileInfo p{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.avatar{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}
.AvatarUpload{
    margin-top: 20px;
    position: relative;
}
.uploadFile{
     width: 40px;
   height: 40px;
    position: absolute;
    left: 85px;
    cursor: pointer;
    top: 100px;
}
.Label{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    
}
.inputForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoinput{
    padding: 12px 15px 12px 15px ;
    border-radius: 4px;
    border: none;
    width: 90%;
    outline: none;
    font-size: 14px;
}
.GenderField {
    display: flex;
    gap: 15px;
}
.Gender{
    display: flex;
    gap: 2px;
    align-items: center;
}
.Gender span{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.Gender input{
     -webkit-appearance: none;
      appearance: none;
    width: 20px;
    height: 20px;
    border: white solid 1px;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Gender input::before{
    content: "";
    position: absolute;
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.Gender input:checked{
    border: #2DC275 solid 1px;
}
.Gender input:checked::before{
    background-color:#2DC275;
}
.Finish{
    cursor: pointer;
    margin-top: 10px;
    padding: 8px 15px 8px 15px;
    background-color: #2DC275;
    width: 100%;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
