.admin-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.dashboard-card {
  margin-bottom: 20px;
  padding: 15px;
  background: white;
  border-radius: 8px;
  font-weight: bold;
}

.datagrid-wrapper {
  height: 400px;
  margin-bottom: 40px;
}

.chart-wrapper {
  width: 100%;
  height: 400px;
  background: white;
  border-radius: 8px;
  padding: 10px;
}

.monthly-wrapper {
  margin-top: 30px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}
