footer{
    background-color: #3a3f4e;
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
}
.footer{
     display: flex;
      justify-content: space-around;
    margin-top: 50px;
    gap: 50px;
    margin-right: 60px;
}
.leftfoot{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
 .ph strong{
    color:#54c273;
    font-size: 20px;
}
.ph{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.ph1{
    display: flex;
}
.ph1 span{
    cursor: pointer;
    color: #adb1bb;
}
.ph1 span:hover{
    color: white;
}